.button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: black;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background-color: rgb(40, 40, 40);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}